{% extends 'base.html'%}
{% block title %}Home {% endblock title %}
{% block home %}active{% endblock home %}
{% block body %}
{% load static %}
    
    <!-- Start Slider Area -->
    <div class="slider-area ">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="slider-carousel owl-carousel">
                        <div class="single-slider slider-bg-1 text-center">
                            <div class="slider-inner">
                                <h1>WELCOME TO Om Gurudev Paints</h1>
                                <a class="btn get-started-btn" href="#">Request a Quote</a>
                            </div>
                        </div>
                        <div class="single-slider slider-bg-2 text-center">
                            <div class="slider-inner">
                                <h1>A best Quality Product paint.</h1>
>                                <a class="btn get-started-btn" href="#">Request a Quote</a>
                            </div>
                        </div>
                        <div class="single-slider slider-bg-3 text-center">
                            <div class="slider-inner">
                                <h1>Our Goal Is Your Complete Satisfaction.</h1>
                                <a class="btn get-started-btn" href="#">Request a Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Slider Area -->
    
    <!-- Start Icon Box Area -->
    <div class="icon-box-area pt-70 pb-70 js--sticky-menu" id="feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mb-70">
                    <div class="section-title">
                        <h4>OUR PRODUCTS</h4>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-icon-box icon-box-img-1">
                        <div class="icon-box-content">
                            <h6 class="iconbox-content-heading"><i class="fas fa-spray-can"></i> Enamel Paints</h6>
                            <div class="iconbox-content-body">
                                <p>We are a leading OEM Manufacturer of Synthetic Enamel Paint, Gloss Enamel Paints, Quick Drying Enamel Paint, Acrylic Enamel Paints, Industrial Enamel Paints and Furniture Enamel Paint.</p>  
                                 <a class="btn btn-inline read-more-btn" href="/product/enamel"><i class="fas fa-plus-square"></i> View All</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-icon-box icon-box-img-2">
                        <div class="icon-box-content">
                            <h6 class="iconbox-content-heading"><i class="fas fa-brush"></i> Water Based Primer</h6>
                            <div class="iconbox-content-body">
                                <p>OEM Manufacturer of a wide range of products which include Water Based Primer and Primer Paint.</p>
                                <a class="btn btn-inline read-more-btn" href="/product/waterbase"><i class="fas fa-plus-square"></i> View All</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-icon-box icon-box-img-3">
                        <div class="icon-box-content">
                            <h6 class="iconbox-content-heading"><i class="fas fa-paint-roller"></i>Coating Primer</h6>
                            <div class="iconbox-content-body">
                                <p>OEM Manufacturer of a wide range of products which include Metal Primers and Oil Based Primer.</p>
                                <a class="btn btn-inline read-more-btn" href="/product/coating"><i class="fas fa-plus-square"></i> View All</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="icon-box-area pb-90" id="feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">

                </div>
                <div class="col-lg-4">
                    <div class="single-icon-box icon-box-img-4">
                        <div class="icon-box-content">
                            <h6 class="iconbox-content-heading"><i class="fas fa-paint-brush"></i>Solvent Based</h6>
                            <div class="iconbox-content-body">
                                <p>OEM Manufacturer of a wide range of products which include Metal Paint, Quick Drying Paint and Stipple Paint.
                                </p>  
                                <a class="btn btn-inline read-more-btn" href="/product/solventbased"><i class="fas fa-plus-square"></i>View All</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-icon-box icon-box-img-5">
                        <div class="icon-box-content">
                            <h6 class="iconbox-content-heading"><i class="fas fa-fill"></i>Decorative Paint</h6>
                            <div class="iconbox-content-body">
                                <p>Our product range includes a wide range of Silver Paint.</p>
                                <a class="btn btn-inline read-more-btn" href="/product/decorative"><i class="fas fa-plus-square"></i>View All</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Icon Box Area -->
 
   
     <!-- Start Working With Us Area -->
    <div class="working-with-us-area gray-bg js--sticky-menu">
        <div class="container"> 
            <div class="row">
                <div class="col-md-6 col-12 text-center d-flex align-items-center">
                    <div class="hire-us-content p-5">
                        <div class="section-title">
                            <h4>About Us</h4>
                        </div>
                        <p style="text-align: justify; color:black;" class="user-select-none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 Om Gurudev Paints company was established in the year of 2006. 
                                We are leading Manufacturer and Supplier of funiturer enamel, epoxy Paint, Synthetic Enamel Paint etc.
                                 We have constructed a state-of-the-art infrastructural base. This base comprises various departments 
                                 such as procurement, production, quality testing, warehousing & packaging and sales & marketing. <br>
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                All departments are armed with requisite amenities and handled by highly experienced team of
                                 professionals. Additionally, we organize crucial training sessions and skill development programs 
                                 for our workforce in order to sharpen their skill and to enhance knowledge.</p>
                        <a href="#" class="btn hire-us-btn">Contact Us</a>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-block">
                    <div class="hire-us-img pt-50">
                        <img src="{% static 'home/about_page.jpg' %}" class="figure-img img-fluid rounded mx-auto d-block" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Working With Us Area -->
    


   {% endblock body %}