{% extends 'base.html'%}
{% block title %}Home {% endblock title %}
{% block product %}active{% endblock product %}




{% block body %}
        {% load static %}
        <!-- Start We are Bemax Area -->
    <div class="bemax-area gray-bg pt-65 pb-25 js--sticky-menu">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mb-70">
                    <div class="section-title">
                        <h4>Enamel Paints</h4>
                    </div>
                    <p class="pt-30">We are a leading OEM Manufacturer of Synthetic Enamel Paint, Gloss Enamel Paints, Quick Drying Enamel Paint, Acrylic Enamel Paints, Industrial Enamel Paints and Furniture Enamel Paint.</p>  
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-bemax-item d-flex">
                        <div class="item-icon">
                           <a href="/contact"> <i class="fas fa-phone-alt"></i></a>
                        </div>
                        <div class="item-content pt-20">
                            <h6>Synthetic Enamel Paint</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-bemax-item d-flex">
                        <div class="item-icon">
                            <a href="/contact"><i class="fas fa-phone-alt"></i></a>
                        </div>
                        <div class="item-content pt-20">
                            <h6>Gloss Enamel Paints</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-bemax-item d-flex">
                        <div class="item-icon">
                            <a href="/contact"><i class="fas fa-phone-alt"></i></a>
                        </div>
                        <div class="item-content pt-20">
                            <h6>Quick Drying Enamel Paint</h6>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-bemax-item d-flex">
                        <div class="item-icon">
                            <a href="/contact"><i class="fas fa-phone-alt"></i></a>
                        </div>
                        <div class="item-content pt-20">
                            <h6>Acrylic Enamel Paints</h6>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-bemax-item d-flex">
                        <div class="item-icon">
                            <a href="/contact"><i class="fas fa-phone-alt"></i></a>
                        </div>
                        <div class="item-content pt-20">
                            <h6>Industrial Enamel Paints</h6>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-bemax-item d-flex">
                        <div class="item-icon">
                            <a href="/contact"><i class="fas fa-phone-alt"></i></a>
                        </div>
                        <div class="item-content pt-20">
                            <h6>Furniture Enamel Paint</h6>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End We are Bemax Area -->
        

{% endblock body %}